<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <style>

    * {
      font-family: Helvetica, serif;
    }

    th, td {
      width: 20px;
      border: solid 1px silver;
      height: 20px;
      font-weight: normal;
      font-size: 10pt;
    }

    table {
      empty-cells: show;
      border-collapse: collapse;
    }

    .spacer {
      border-left: none;
      border-right: none;
      height: 5px;
    }

    .label {
      background-color: whitesmoke;
      font-weight: bold;
    }

  </style>
</head>
<body>

@RenderBody()

</body>
</html>