<div class="is-inline-block">
  <div class="buttons">
    <button class="button" form="new">
      <span>New</span>
    </button>
    <button class="button is-success" form="edit">
      <span class="icon is-small">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit</span>
    </button>
    <button class="button is-success" form="save">
      <span class="icon is-small">
        <i class="fas fa-check"></i>
      </span>
      <span>Save</span>
    </button>
    <button class="button is-danger" form="delete">
      <span class="icon is-small">
        <i class="fas fa-times"></i>
      </span>
      <span>Delete</span>
    </button>
    <button class="button" form="cancel">
      <span>Cancel</span>
    </button>
  </div>
</div>