<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
  asp-fallback-href="~/lib/fontawesome/all.css">
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch@0.7.2/slate/bulmaswatch.min.css"
  asp-fallback-href="~/lib/bulma/bulmaswatch.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css"
  asp-fallback-href="~/lib/bulma/bulma-calendar.min.css">
<link rel="stylesheet" href="~/css/site.css">
<script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"
    asp-fallback-src="~/lib/bulma/bulma-calendar.min.js"></script>
<script src="~/lib/turbolinks/turbolinks.min.js" asp-append-version="true"></script>
<script src="~/js/validation.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>