<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch@0.7.2/slate/bulmaswatch.min.css">
  <link rel="stylesheet" href="~/css/site.css">
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" asp-controller="Home" asp-action="Index">
        Home
      </a>
      <a class="navbar-item" asp-controller="Categories" asp-action="Index">
        Categories
      </a>
      <a class="navbar-item" asp-controller="Customers" asp-action="Index">
        Customers
      </a>
      <a class="navbar-item" asp-controller="Products" asp-action="Index">
        Products
      </a>
      <a class="navbar-item" asp-controller="Regions" asp-action="Index">
        Regions
      </a>
    </div>
  </div>
</nav>

<div class="container is-fluid">
  <div class="is-pulled-left">
    @await Component.InvokeAsync("Navigation", new { viewName = "Breadcrumbs", filterName = "Breadcrumbs", startingNodeKey = "" })
  </div>
</div>

<div class="pb-2"></div>

<div class="container is-fluid">
  @RenderBody()
</div>

<script src="~/js/validation.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", false)

</body>
</html>