@model TerritoryViewModel

<div class="field is-horizontal">
  <label class="field-label"></label>
  <div class="control is-expanded field-body">
    <partial name="_formControls" />
  </div>
</div>

<partial name="_form" model="@Model"/>

<form id="delete" method="post" asp-action="Delete">
  <nw-hidden asp-for="Id" />
</form>
<form id="cancel" method="get" asp-action="Show">
  <nw-hidden asp-for="Id" />
</form>