@model SearchResultsViewModel

<table class="table is-striped is-hoverable is-fullwidth">

  <tr>
    <th scope="col">
    </th>
    <th scope="col">
    </th>
    <th scope="col">
    </th>
  </tr>

  @foreach (var item in Model.Data)
  {
    <tr>
      <td>
        @item.Id
      </td>
      <td>
        @item.CustomerId
      </td>
      <td>
        @item.OrderDate.ToInternationalDateTimeString()
      </td>
    </tr>
  }

</table>