@model ProductViewModel

<form method="post">

  <div class="field">
    <label class="label" asp-for="Id"></label>
    <div class="control">
      <input class="input validation" asp-for="Id">
    </div>
  </div>
  <div class="field">
    <label class="label" asp-for="ProductName"></label>
    <div class="control">
      <input class="input validation" asp-for="ProductName">
    </div>
  </div>
  <div class="field">
    <label class="label" asp-for="SupplierId"></label>
    <div class="control">
      <input class="input validation" asp-for="SupplierId">
    </div>
  </div>
  <div class="field">
    <label class="label" asp-for="CategoryId"></label>
    <div class="control">
      <input class="input validation" asp-for="CategoryId">
    </div>
  </div>
  <div class="field">
    <label class="label" asp-for="QuantityPerUnit"></label>
    <div class="control">
      <input class="input validation" asp-for="QuantityPerUnit">
    </div>
  </div>
  <div class="field">
    <label class="label" asp-for="UnitPrice"></label>
    <div class="control">
      <input class="input validation" asp-for="UnitPrice">
    </div>
  </div>
  <div class="field">
    <label class="label" asp-for="UnitsInStock"></label>
    <div class="control">
      <input class="input validation" asp-for="UnitsInStock">
    </div>
  </div>
  <div class="field">
    <label class="label" asp-for="UnitsOnOrder"></label>
    <div class="control">
      <input class="input validation" asp-for="UnitsOnOrder">
    </div>
  </div>
  <div class="field">
    <label class="label" asp-for="ReorderLevel"></label>
    <div class="control">
      <input class="input validation" asp-for="ReorderLevel">
    </div>
  </div>
  <div class="field">
    <label class="label" asp-for="Discontinued"></label>
    <div class="control">
      <input class="input validation" asp-for="Discontinued">
    </div>
  </div>

</form>