@model ProductViewModel

<form method="post">
  <nw-field asp-for="Id"/>
  <nw-field asp-for="ProductName"/>
  <nw-field asp-for="SupplierId"/>
  <nw-field asp-for="CategoryId"/>
  <nw-field asp-for="QuantityPerUnit"/>
  <nw-field asp-for="UnitPrice"/>
  <nw-field asp-for="UnitsInStock"/>
  <nw-field asp-for="UnitsOnOrder"/>
  <nw-field asp-for="ReorderLevel"/>
  <nw-field asp-for="Discontinued"/>
</form>