@model CustomerModalViewModel

<div class="modal is-active">
  
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">@Model.Title</p>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <form method="post" id="modal__form-@Model.ElementId">

          <input type="hidden" name="ReturnUrl" value="@EncodedUrl">
          
          <div class="field">
            <label class="label" asp-for="Id"></label>
            <div class="control">
              <input class="input validation" asp-for="Id">
            </div>
          </div>
          <div class="field">
            <label class="label" asp-for="CompanyName"></label>
            <div class="control">
              <input class="input validation" asp-for="CompanyName">
            </div>
          </div>
          <div class="field">
            <label class="label" asp-for="Region"></label>
            <div class="control">
              <input class="input validation" asp-for="Region">
            </div>
          </div>
        </form>
      </div>
    </section>
    <footer class="modal-card-foot">
      
      @if (Model.IsNew)
      {
        <button asp-controller="Customers" asp-action="CreatePartial" class="button is-success" form="modal__form-@Model.ElementId">@Model.SaveText</button>
      }
      else
      {
        <button asp-controller="Customers" asp-action="UpdatePartial" class="button is-success" form="modal__form-@Model.ElementId">@Model.SaveText</button>
      }

      <label class="button" for="modal__button-@Model.ElementId-2">Cancel</label>
      <input name="modal-toggle" type="radio" class="is-nowidth" id="modal__button-@Model.ElementId-2">
    </footer>
  </div>
</div>

@functions{

  string EncodedUrl => this.Context.Request.GetEncodedUrl();

}
